* {
        margin: 0;
        padding: 0;
      }

      body {
        background-color: rgb(0, 0, 33);
        color: white;
        font-family: "poppins", sans-serif;
      }

      nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: rgb(18, 18, 36);
      }

      nav ul {
        display: flex;
        justify-content: center;
      }

      nav ul li {
        list-style: none;
        margin: 0 23px;
      }

      nav ul li a {
        text-decoration: none;
        color: white;
      }

      nav ul li a:hover {
        color: rgb(155, 155, 255);
        font-size: 1.02rem;
      }

      main hr {
        border: 0;
        background-color: #9c97f1;
        height: 1.2px;
        margin: 60px 84px;
      }

      .left {
        font-size: 1.5rem;
      }

      .firstsection {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 160px 0;
      }

      .firstsection > div {
        width: 40%;
      }

      .leftsection {
        /* background-color: red; */
        font-size: 3rem;
      }

      .leftsection .button{
        padding: 50px 0;
      }

      .leftsection .btn{
        padding: 10px;
        background-color: rgb(0, 0, 33);
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
      }

      .btn a{
        text-decoration: none;
        color: white;
      }

      .rightsection img {
        width: 50%;
        border-radius: 50%;
        position: relative;
        left: 100px;
        border:solid 2px white;
        box-shadow: 0 0 20px #3e1076,
                  0 0 40px #3e1076,
                  0 0 60px #3e1076,
                  0 0 80px #3e1076;
        
        
      }

      .purple {
        color: rgb(150, 75, 220);
      }

      .text-gray {
        color: gray;
      }

      #element {
        color: rgb(150, 75, 220);
      }

      .secondsection {
        max-width: 80vw;
        margin: auto;
        height: 80vh;
      }

      .secondsection h1 {
        font-size: 1.9rem;
      }

      .secondsection .box {
        background-color: white;
        width: 80vw;
        height: 2px;
        margin: 56px 0;
        display: flex;
      }

      .secondsection .vertical {
        height: 93px;
        width: 1px;
        background-color: white;
        margin: 0 80px;
      }

      .image-top{
        width: 23px;
        position: relative;
        top: -32px;
        left: -9px;
      }

      .vertical-title{
        position: relative;
        top: 75px;
        width: 150px;
      }

      .vertical-desc{
        position: relative;
        top: 86px;
        color: gray;
        width: 150px;
        font-size: 9px;
      }

      footer{
        background-color: #0e0e1a;
      }

      .footer{
        display: flex;
        padding: 23px 120px;
        justify-content: space-evenly;
      }

      .footer ul{
        list-style: none;
      }

      .footer > div{
        width: 223px;
      }

      footer .footer-rights{
        text-align: center;
        color: gray;
        padding: 12px 0;
      }